/* @media screen and (max-width: 1200px){
     html{
          font-size: 55.5%;
     }
} */





/*01 laptop responsive design */
@media screen and (max-width: 992px){
     html{
          font-size: 52.5%;
     }
     
    
}

/*02 tablet responsive design */
@media screen and (max-width: 768px){
     html{
          font-size: 50%;
     }
    

}

/*03 mobile responsive design */
@media screen and (max-width: 576px){
     html{
          font-size: 45%;
     }
     /* navber */
     nav{
          box-shadow: none;
          padding-top: 4.5rem;
     }
     nav .navber, nav ul{
          flex-direction: column;
          gap: 5rem;
     }
     /* banner */
     .banner-section{
          flex-direction: column;
     }
     .banner-section .banner-heading{
          background-image: url('./images/Group\ 14.png');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          padding: 8rem 0;
          width: 100%;
          order: 2;
          text-align: center;
     }
     .banner-section .banner-img{
          width: 100%;
          order: 1;
     }
     .btn-group{
          justify-content: center;
     }


     /* 03 Online Games start */
     .online-games-section .online-game-images{
          grid-template-columns: 1fr;
          gap: 2.5rem;
     }
     .game-card-img p{
          text-align: center;
     }
     /* 03 Online Games end */
    
}


@media screen and (max-width: 350px){
     html{
          font-size: 35%;
     }
}













/* @media screen and (max-width: 350px){
     html{
          font-size: 35%;
     }
     
} */