/* @media screen and (max-width: 1200px){
     html{
          font-size: 55.5%;
     }
} */





/*01 laptop responsive design */
@media screen and (max-width: 992px){
     html{
          font-size: 52.5%;
     }
     
    
}

/*02 tablet responsive design */
@media screen and (max-width: 768px){
     html{
          font-size: 50%;
     }
     /* navber */
     nav{
          box-shadow: none;
          padding-top: 4.5rem;
     }
     nav .navber, nav ul{
          flex-direction: column;
          gap: 5rem;
     }
     /* banner start*/
     .banner-section{
          flex-direction: column;
     }
     .banner-section .banner-heading{
          background-image: url('./images/Group\ 14.png');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          padding: 8rem 0;
          width: 100%;
          order: 2;
          text-align: center;
     }
     .banner-section .banner-img{
          width: 100%;
          order: 1;
     }
     .btn-group{
          justify-content: center;
     }
     /* banner end*/ 


     /* We are gamer start */
     .we-are-gamer{
          flex-direction: column;
     }
     .we-are-gamer .gamer-all-imagesh{
          width: 100%;
     }
     .we-are-gamer .we-are-gamer-dtail{
          width: 100%;
     }
     .we-are-gamer .we-are-gamer-dtail{
          display:flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
     }
     .we-are-gamer-dtail p{
          text-align: center;
     }
     /* We are gamer start */


     /* 03 Online Games start */
     .online-games-section .online-game-images{
          grid-template-columns: repeat(2, 1fr);
          gap: 2.5rem;
     }
     /* 03 Online Games end */


     /* Play Instantly start  */
     .play-instantly-section{
          flex-direction: column;
          gap: 4rem;
     }

     .play-instantly-section .play-instantly-titel{
          width: 100%;
     }
     .play-instantly-section .play-instantly-imagesh{
          width: 100%;
     }
     /* Play Instantly end  */


     /* 05 Play Games start */
     .play-games-start{
          flex-direction: column-reverse;
     }
     .play-games-start .play-gamesh{
          width: 100%;
     }
     .play-games-start .play-games-title{
          width: 100%;
     }
     /* 05 Play Games end */

}

/*03 mobile responsive design */
@media screen and (max-width: 576px){
     html{
          font-size: 45%;
     }
     /* navber */
     nav{
          box-shadow: none;
          padding-top: 4.5rem;
     }
     nav .navber, nav ul{
          flex-direction: column;
          gap: 5rem;
     }
     /* banner */
     .banner-section{
          flex-direction: column;
     }
     .banner-section .banner-heading{
          background-image: url('./images/Group\ 14.png');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          padding: 8rem 0;
          width: 100%;
          order: 2;
          text-align: center;
     }
     .banner-section .banner-img{
          width: 100%;
          order: 1;
     }
     .btn-group{
          justify-content: center;
     }
     /* We are gamer start */
     .we-are-gamer{
          flex-direction: column;
     }
     .we-are-gamer .gamer-all-imagesh{
          width: 100%;
     }
     .we-are-gamer .we-are-gamer-dtail{
          width: 100%;
     }
     .we-are-gamer .we-are-gamer-dtail{
          display:flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
     }
     .we-are-gamer-dtail p{
          text-align: center;
     }
     /* We are gamer start */

     /* 03 Online Games start */
     .online-games-section .online-game-images{
          grid-template-columns: 1fr;
          gap: 2.5rem;
     }
     .game-card-img p{
          text-align: center;
     }
     /* 03 Online Games end */

     /* 05 Play Games start */
     .play-games-start{
          flex-direction: column-reverse;
     }
     .play-games-start .play-gamesh{
          width: 100%;
     }
     .play-games-start .play-games-title{
          width: 100%;
     }
     /* 05 Play Games end */
     .play-games-start{
          gap: 5rem;
     }
     .play-games-title{
          text-align: center;
     }
     .play-games-title p{
          margin: 0 auto;
     }
     /* suggestion */
     .suggestion-section{
          gap: 1.5rem;
          padding-top: 2.5rem;
     }
}


@media screen and (max-width: 350px){
     html{
          font-size: 35%;
     }
}













/* @media screen and (max-width: 350px){
     html{
          font-size: 35%;
     }
     
} */